<h1><%= "#{APP_CONFIG['rincex_project_name']} (#{APP_CONFIG['rincex_project_id']})" %></h1>

<a href="/feed-<%= Item.root.first.id %>.atom"><img src="/images/moz-feed-icon.png" alt="Atom" />Atom feed</a>

<table id="items-table">
<tr>
  <th>&nbsp;</th>
  <th>Author</th>
  <th>Date</th>
</tr>
<% @items.each do |item| %>
<tr id="<%= item.id %>"
    <%= "class='child-of-#{item.parent.id}'" if item.parent %>>
  <td>
    <img src="/images/<%= item.item_type %>.png"
         alt="<%= item.item_type %> icon" />
    <a href="<%= item.url(request.remote_ip) %>"><%= item.name %></a>
  </td>
  <td><%= item.author.display_name if item.author %></td>
  <td><%= item.rincex_date %></td>
</tr>
<% end %>
</table>

<script type="text/javascript">
  $(document).ready(function()  {
    $("#items-table").treeTable({
      initialState: "expanded"
    });
  });
</script>
